{% extends 'base.html' %}


{% block title %}  School Management System {% endblock %}


{% block content %}




<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container-fluid">
<a class="navbar-brand" href="{% url 'index' %}">
<i class="fa-solid fa-graduation-cap fa-lg"></i> School Management System </a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarColor01">
<ul class="navbar-nav me-auto">

<li class="nav-item">
<a class="nav-link" href="{% url 'index' %}"> 
<i class="fa-solid fa-list fa-lg"></i> All Students </a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'add' %}">
<i class="fa-solid fa-plus fa-lg"></i> Add Student</a>
</li>


</ul>

</div>
</div>
</nav>
<div class="container-fluid">

    <h3 class="text-center m-4">Update Student</h3>
    {% if success %}
    <div class="alert alert-success" role="alert">
        New student updated successfully.
        <a href="{% url 'index' %}" class="alert-link"> Go to Home Page.</a>
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                    Update Student Records
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-primary">Update</button>
                        <a style="text-decoration: none; color: black" href="{% url 'index' %}"> Cancel</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
  {% endif %}

</div>
<footer class="mt-auto mb-4">

<div class="text-center">
<span>

Copyright &copy; <script>document.write(new Date().getFullYear())</script> EIT SOLUTION CONSULTS
</span>
</div>
</footer>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}